{% extends "layout.html" %}

{% block title %}
    Ppost
{% endblock %}

{% block main %}
    <form action="/ppost" method="post">
        <div class="form-group">
            <textarea autocomplete="off" autofocus class="form-control" rows="10" cols="50" name="post" placeholder="Post" type="text">
            </textarea>
        </div>

        <!--<div class="form-group">-->
        <!--    <input class="form-control" name="month" placeholder="Month" type="text">-->
        <!--</div>-->

        <!--<div class="form-group">-->
        <!--    <input class="form-control" name="day" placeholder="Day" type="text">-->
        <!--</div>-->

        <button class="btn btn-primary" type="submit">Post</button>
    </form>
{% endblock %}