{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <h2>こんにちは。Labotterへようこそ。</h2>
        <p>Labotterは、研究室をテーマとした大学生向けの掲示板です。</p>
        <p>ログインして気になるあの研究室についての情報を手に入れましょう。</p>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
